{% extends "base.html.twig" %}
{% block title "Mon Agence ! "%}
{% block body %}
<div class="jumbotron text-center">
    <h1>Mon Agence </h1>
    <p>voila notre application web ! </p>
</div>

{% endblock %}
